./checkpoints
checkpoints/segnet_final_reference.pth
__pycache__/main.cpython-38.pyc
src/__pycache__/__init__.cpython-38.pyc
src/__pycache__/config.cpython-38.pyc
src/__pycache__/dataset.cpython-38.pyc
src/__pycache__/edge_connect.cpython-38.pyc
src/__pycache__/loss.cpython-38.pyc
src/__pycache__/models.cpython-38.pyc
src/__pycache__/networks.cpython-38.pyc
src/__pycache__/segmentor.cpython-38.pyc
src/__pycache__/utils.cpython-38.pyc
checkpoints/resultsfinal/top_mosaic_09cm_area5.png
Tests/top_mosaic_09cm_area5.png
requirements.txt
Patches/
patches.txt
